<div class="flex justify-between items-center text-white bg-[#3167A8] py-6 px-3 w-full m-0 mb-3">
    <span class="material-symbols-outlined">
     <%= link_to "arrow_back", groups_path %>
    </span>
    <h2>CATEGORIES</h2>
    <h3><%= button_to "LOG OUT", destroy_user_session_path, method: :delete %></h3>
</div>